/* 와이드 pc  */
	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
    position:absolute;
    left: 50%;
    top:50%;
    width:auto;
    min-width:100%;
    height:auto;
    min-height:100%;
    transform:translateX(-50%) translateY(-50%);
    z-index:-100;
}
.down{
    display: block;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:50%;
    margin-left: -15px;
    bottom: 10%;
	animation:ani 1s infinite  alternate;
}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color: #fff;}
	100% { transform:scale(1.2); opacity:0.6; color: #aaa;}
}


#content
section{
    overflow: hidden;
    margin: 0 4%;
    margin-bottom: 70px;
}
section h3{
    text-align: center;
    margin: 70px 0 50px;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.gallery h3{
    margin-top: 120px;
}
.gallery h3 span{
    background: #f00;
    padding: 0 .5%;
}
.grid-image-item, .grid--images .grid-sizer{ 
    width: 20%;
}
.grid-image-item{
    float: left;
    margin-bottom: 40px;
}
.grid-image-item img{
    display: block;
    width: 90%;
    margin: 10px auto;
}
.grid-image-item .title{
    display: block;
    width: 90%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.grid-image-item .title:after{
    content: "";
    background: #fbd204;
    width: 80px;
    height: 3px;
    display: block;
    margin: 5px auto;
}
.grid-image-item:nth-of-type(3n) .title:after{
    background: #f00;
}
.grid-image-item .info{
    display: block;
    width: 90%;
    color: #fff;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 0 auto;
}

/* 일반 pc */
@media screen and (max-width:1280px) {
    .grid-image-item, .grid--images .grid-sizer { width: 25%;}
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .grid-image-item, .grid--images .grid-sizer {width: 33.33%;}
    .gallery h3{ margin-top: 90px; }
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	.grid-image-item, .grid--images .grid-sizer {width: 50%;}
    .grid-image-item .title{font-size: 20px;}
    .grid-image-item .info{font-size: 14px;}
    .grid-image-item:nth-of-type(4n){ display: none; }
}

/* 모바일 */
@media screen and (max-width:640px) {
	.grid-image-item, .grid--images .grid-sizer {width: 100%;}
    section h3{ font-size: 35px; }
    .grid-image-item:nth-of-type(2n){ display: none; }
}